<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Danh sách nhà cung cấp</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/table.css}" />
</head>
<body>

	<div class="container" style="margin-top: 30px">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">

				<div th:include="header.html"></div>

				<form th:action="@{/supplier/search}"
					class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" name="keyword"
							id="keyword" size="50" th:value="${keyword}">
					</div>
					<input type="submit" value="Tìm kiếm" class="btn btn-default">
				</form>
			</div>
		</nav>

		<div>
			<h2 style="text-align: center;">Quản li nhà cung cấp</h2>
			<div th:if="${success}"
				class="row alert alert-success alert-dismissible">
				<span th:text="${success}"></span>
			</div>
			<a href="/supplier/add" class="btn btn-success" id="add">Thêm mới</a>
			<table id="table">

				<tr style="text-align: center;">
					<td>Mã nhà cung cấp</td>
					<td>Tên nhà cung cấp</td>
					<td>Địa chỉ</td>
					<td>Số điện thoại</td>
					<td>Hành động</td>
				</tr>

				<tr th:each="s:${listSupplier}"  style="text-align: center;">
					<td th:text="${s.id}"></td>
					<td th:text="${s.name}"></td>
					<td th:text="${s.address}"></td>
					<td th:text="${s.phone}"></td>
					<td><a th:if="${action1}" class="btn btn-primary">Sửa</a> <a
						th:if="${action1}"
						th:href="@{/supplier/delete?id={id}(id=${s.id})}"
						onclick="return confirm('Bạn muốn xóa?')" class="btn btn-danger">Xóa</a>
						<a th:if="${action2}"
						th:href="@{/order/addBook?sid={sid}(sid=${s.id})}"
						class="btn btn-info">Chọn</a></td>
				</tr>
				</tbody>
		</div>
	</div>

</body>
</html>